/* Styles */
body {
   font-family: monospace;
   font-size: 1vmax;
   line-height: 1.5vmax;
   margin: 0.1%;
   text-align: left;
   vertical-align: top;
   background: #f6f9f9;
}

/* Table */
.table {
    display: table;
    border-collapse: collapse;
    width: 95%;
    margin: 1%;
    
    border-radius: 1vmax;
    box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.1);
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div:not(:empty) {
    cursor: copy;
}
/* Estilo para la primera fila (encabezado) */
.table > div:first-child div {
    font-weight: bold;
    text-align: center;
    cursor: default;
    background: #005265;
    color: #ffffff;
}
/* Estilo para la primera columna */
.table > div > div:first-child {
    font-weight: bold;
    cursor: default;
}

.table div div {
    display: table-cell;
    border: solid #000000 0.1vmax;
    text-align: right;
    vertical-align: center;
    padding:0.25%;
    padding-right:1%;
    width: 17%;
    height: 1.5vmax;
    line-height: 1.5vmax;
    text-overflow: ellipsis;
    background: #ffffff;
}

/* */
[name="date"], input {
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}